/* You can add global styles to this file, and also import other style files */
html,
body {
    background-image: linear-gradient(0deg, rgba(23, 25, 43, 1) 5%, rgba(15, 16, 28, 1) 100%);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    color: #f8f9fa;
}

.customTextColor {
    color: #831b7c;
}

.epicodeBgColor {
    background-color: #831b7c;
}

.epicodeBgColor:hover {
    background-color: #951c8d;
}

.pointer {
    cursor: pointer;
}

::placeholder {
    color: #ced4da8f !important;
}

textarea {
    border: none !important;
}
