<div class="comment rounded-4 p-2 my-2 d-flex justify-content-between align-items-center" *ngIf="show && !loading">
  <div class="w-75">
    <p [routerLink]="['/profile', comment.userId]" class="fw-bold mb-1 customTextColor">{{userComment.name}}</p>
    <p class="text-light mb-1"> {{ comment.body }} </p>
  </div>
  <button *ngIf="activeUserParsed.user.id == comment.userId" type="button" class="btn my-1 btn-outline-danger"
    (click)="deleteComment(comment.id)"><i class="bi bi-trash3-fill"></i></button>
</div>


<!-- <button *ngIf="user && !isFav(post.id)" type="button" class="btn btn-success my-1" (click)="addLike(post.id)">
        <i class="bi bi-hand-thumbs-up"></i> Like
      </button>
      <button *ngIf="user && isFav(post.id)" type="button" class="btn btn-danger my-1" (click)="removeLike(post.id)">
        <i class="bi bi-hand-thumbs-up"></i> unLike
      </button> -->