<!-- <div class="d-flex justify-content-center my-5" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->

<div class="container-fluid post-card rounded-3" *ngIf="show && !loading">
  <div class="d-flex p-4  justify-content-between" >
    <div class="d-flex flex-column">
      <p *ngIf="post" [routerLink]="['/profile', post.userId]" class="pointer customTextColor fw-semibold" (click)="setSelectedUser(selectedUser.name, selectedUser.email, userComment.id)">{{userComment.name}}</p>
      <h5>{{post.title | uppercase}}</h5>
      <p>{{post.body}}</p>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center">
      <button *ngIf="user && activeUserParsed.user.id == post.userId" type="button" class="btn my-1 text-light btn-pers"
        data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+post.id"><i
          class="bi bi-pencil-square"></i></button>
      <button *ngIf="user && activeUserParsed.user.id == post.userId" type="button" class="btn my-1 btn-outline-danger"
        (click)="deletePost(post.id)"><i class="bi bi-trash3-fill"></i></button>
      <button *ngIf="user && !isFav(post.id)" type="button" class="btn epicodeBgColor my-1" (click)="addLike(post.id)">
        <i class="bi bi-hand-thumbs-up text-light">{{likeCount}}</i>
      </button>
      <button *ngIf="user && isFav(post.id)" type="button" class="btn btn-success my-1" (click)="removeLike(post.id)">
        <i class="bi bi-hand-thumbs-up">{{likeCount}}</i>
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="exampleModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>i
            <button type="button" class="btn-close btn-pers-outline" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <label for="title" class="form-label">Titolo</label>
              <input type="text" name="title" id="title" class="form-control text-light" ngModel="{{post.title}}">
              <label for="body" class="form-label">Post</label>
              <textarea name="body" id="body" cols="30" rows="10" class="form-control text-light"
                ngModel="{{post.body}}"></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-pers-outline" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-pers text-light" (click)="editPost(editForm)">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion px-4" id="accordionExample" *ngIf="postComments.length>0">
    <div class="accordion-item border-0" >
      <h2 class="accordion-header" >
        <button class="accordion-button collapsed collpased" style="background-color: rgba(15,16,28,1);"type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapseOne'+post.id" aria-expanded="false" aria-controls="collapseOne">
          <h4 class="text-center" style="color: #6D1666;">Commenti {{postComments.length}}</h4>
        </button>
      </h2>
      <div id="collapseOne{{post.id}}" class="accordion-collapse collapse p-3" data-bs-parent="#accordionExample" style="background-color: rgba(15,16,28,1) ;">
        <div class="comments rounded-3 mt-2 mx-2 mb-0" style="background-color: rgba(34, 37, 64, 1);"
          *ngFor="let comment of postComments">
          <app-comment [comment]="comment"></app-comment>
        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center mt-3" style="color: #6D1666;">Lascia un commento</h4>

  <div class="container-fluid my-2">
    <form #commentForm="ngForm" class="input-group input-group-sm mb-3 align-items-center">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        *ngIf="isTextAreaFocused">{{activeUserParsed.user.name}}</span>
      <textarea name="body" id="body" cols="10" rows="2" class="form-control text-light my-4 ms-2" ngModel
        (focus)="onTextAreaFocus()" (blur)="onTextAreaBlur()"></textarea>
      <div>
        <button *ngIf="user" type="button" class="btn text-light epicodeBgColor ms-3"
          (click)="newComment(commentForm)">Comment</button>
      </div>
    </form>
  </div>
</div>