.post-card{
    background-color: rgba(23,25,43,1);
    box-shadow: 0px 0px 30px 0px #6d1666;
    margin-bottom: 40px;
}

.btn-pers{
    background-color: #6D1666;
}

.btn-pers-outline{
    border: 2px solid #6D1666;
    background-color: transparent;
    color: #6D1666;
}

.modal-content{
    background-color: rgba(23,25,43,1);
}

input[type="text"],
textarea,
textarea:focus {
    background-color: rgba(15,16,28,1);
}
  